In [3]:
# Import libraries
import numpy as np
import pandas as pd
import psycopg2
import getpass
import time
import os.path
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
os.chdir('C:\\Users\\anear\\OneDrive - National University of Ireland, Galway\\PhD\\Research Projects\\Ventilation Project')

In [5]:
# Load the database connection details
_data = np.load('data/db_details.npy', allow_pickle=True).tolist()
db_details = _data['db_details']
user = db_details['user']
host = db_details['host']
port = db_details['port']
dbname = db_details['dbname']
schema = db_details['schema']
    
# Connect to the database
conn = psycopg2.connect(dbname=dbname, user=user, host=host, port=port, password=getpass.getpass(prompt='Password:'.format(user)))
cur = conn.cursor()
cur.execute('SET search_path TO {}'.format(schema))
conn.commit()

Password: ··········

In [6]:
# Load the patient data
_data = np.load('data/final_patients.npy', allow_pickle=True).tolist()
patients = _data['patients']
print("Loaded the patient data!")

Loaded the patient data!

In [9]:
# Load the appropriate query
query = open('queries/ce_itemids.sql', 'r')

start = time.time()

# Store the result of the query as a pandas dataframe
chartevents = pd.read_sql_query(query.read(), conn)
query.close()

end = time.time()

# Print the run time
print('Run time: {:.2f} minutes'.format((end-start)/60))

Run time: 95.63 minutes

In [10]:
# Show some sample data
chartevents.sort_values(by=['count'],ascending=False).head(n=50)

      itemid                                  label    count
3917     646                                   SpO2  1557059
3916     211                             Heart Rate  1527556
3915     742                             calprevflg  1519420
3914     618                       Respiratory Rate  1485080
3913     212                           Heart Rhythm  1448041
3912     128                            Code Status  1447415
3911     550                            Precautions  1443421
3910     161                            Ectopy Type  1421957
3909  220045                             Heart Rate  1298288
3908    1125                           Service Type  1295689
3907  220210                       Respiratory Rate  1288992
3906  220277            O2 saturation pulseoxymetry  1267973
3905     159                       Ectopy Frequency  1130724
3904      51                 Arterial BP [Systolic]  1094019
3903    8368                Arterial BP [Diastolic]  1090294
3902      52                       Arterial BP Mean  1082136
3901    1484                         Risk for Falls  1029311
3900  220048                           Heart Rhythm   917189
3899  224650                          Ectopy Type 1   856380
3898  227969                    Safety Measures_U_1   853605
3897    5815                         HR Alarm [Low]   769995
3896    8549                        HR Alarm [High]   768908
3895    5820                       SpO2 Alarm [Low]   768839
3894    8554                      SpO2 Alarm [High]   766717
3893    5819                       Resp Alarm [Low]   752901
3892    8553                      Resp Alarm [High]   751599
3891  220052           Arterial Blood Pressure mean   719166
3890  220050       Arterial Blood Pressure systolic   715550
3889  220051      Arterial Blood Pressure diastolic   715410
3888     581                       Previous WeightF   715298
3887     113                                    CVP   599030
3886    1703                      Health Care Proxy   566605
3885    5817                        NBP Alarm [Low]   542570
3884    8551                       NBP Alarm [High]   540796
3883     455                         NBP [Systolic]   539738
3882    8441                        NBP [Diastolic]   536871
3881     456                               NBP Mean   531989
3880    5813                        ABP Alarm [Low]   523086
3879    8547                       ABP Alarm [High]   520679
3878  227958              Less Restrictive Measures   513112
3877    1337                        Riker-SAS Scale   481268
3876     637                             Side Rails   463260
3875     674                             Temp. Site   462818
3874  220181       Non Invasive Blood Pressure mean   461133
3873  220179   Non Invasive Blood Pressure systolic   460008
3872  220180  Non Invasive Blood Pressure diastolic   459780
3871      31                               Activity   458260
3870     210                                    HOB   447856
3869     432                     Level of Conscious   444192
3868     704                                   Turn   438752

In [11]:
# Load the appropriate query
query = open('queries/le_itemids.sql', 'r')

start = time.time()

# Store the result of the query as a pandas dataframe
labevents = pd.read_sql_query(query.read(), conn)
query.close()

end = time.time()

# Print the run time
print('Run time: {:.2f} minutes'.format((end-start)/60))

Run time: 0.37 minutes

In [12]:
# Show some sample data
labevents.sort_values(by=['count'],ascending=False).head()

Empty DataFrame
Columns: [itemid, label, count]
Index: []

In [13]:
# Load the appropriate query
query = open('queries/oe_itemids.sql', 'r')

start = time.time()

# Store the result of the query as a pandas dataframe
outputevents = pd.read_sql_query(query.read(), conn)
query.close()

end = time.time()

# Print the run time
print('Run time: {:.2f} minutes'.format((end-start)/60))

Run time: 0.14 minutes

In [14]:
# Show some sample data
outputevents.sort_values(by=['count'],ascending=False).head()

     itemid                        label   count
613   40055              Urine Out Foley  894324
612  226559                        Foley  599936
611   40054              Stool Out Stool   40829
610   40286  Ultrafiltrate Ultrafiltrate   36571
609   40076       Chest Tubes CTICU CT 1   31123

In [15]:
# Load the appropriate query
query = open('queries/iecv_itemids.sql', 'r')

start = time.time()

# Store the result of the query as a pandas dataframe
inputevents_cv = pd.read_sql_query(query.read(), conn)
query.close()

end = time.time()

# Print the run time
print('Run time: {:.2f} minutes'.format((end-start)/60))

Run time: 0.90 minutes

In [16]:
# Show some sample data
inputevents_cv.sort_values(by=['count'],ascending=False).head(n=10)

      itemid              label    count
1189   30018  .9% Normal Saline  1285745
1188   30013                D5W  1188492
1187   30131           Propofol   561212
1186   30118           Fentanyl   533541
1185   30045            Insulin   420732
1184   30124          Midazolam   335609
1183   30025            Heparin   290513
1182   30120         Levophed-k   238281
1181   30140                N/A   232579
1180   30128    Neosynephrine-k   196642

In [17]:
# Load the appropriate query
query = open('queries/iemv_itemids.sql', 'r')

start = time.time()

# Store the result of the query as a pandas dataframe
inputevents_mv = pd.read_sql_query(query.read(), conn)
query.close()

end = time.time()

# Print the run time
print('Run time: {:.2f} minutes'.format((end-start)/60))

Run time: 0.21 minutes

In [18]:
# Show some sample data
inputevents_mv.sort_values(by=['count'],ascending=False).head()

     itemid         label   count
267  225158     NaCl 0.9%  295791
266  220949   Dextrose 5%  229813
265  225943      Solution  175033
264  222168      Propofol  126013
263  225799  Gastric Meds   73139

In [27]:
# Save to item_ids.npy
if not os.path.exists('./data'):
    os.makedirs('./data')

tosave = {'chartevents': chartevents, 'labevents': labevents, 'outputevents': outputevents, 'inputevents_cv': inputevents_cv, 'inputevents_mv': inputevents_mv}
np.save('data/item_ids.npy',tosave)
print("Saved!")

Saved!

In [13]:
import numpy as np
_data = np.load('data/item_ids.npy', allow_pickle=True).tolist()
chartevents = _data['inputevents_cv']
chartevents.sort_values(by=['count'],ascending=False)

      itemid                 label    count
1189   30018     .9% Normal Saline  1285745
1188   30013                   D5W  1188492
1187   30131              Propofol   561212
1186   30118              Fentanyl   533541
1185   30045               Insulin   420732
1184   30124             Midazolam   335609
1183   30025               Heparin   290513
1182   30120            Levophed-k   238281
1181   30140                   N/A   232579
1180   30128       Neosynephrine-k   196642
1179   30032                   TPN   132712
1178   30112            Amiodarone   132508
1177   30141                Ativan   125910
1176   30026                   KCL   125546
1175   30123                 Lasix   121532
1174   30166       Promote w/fiber   113592
1173   30073        Impact w/fiber   103349
1172   30021      Lactated Ringers    98261
1171   30144          Gastric Meds    91525
1170   30015              D5/.45NS    83967
1169   30051           Vasopressin    81314
1168   30043              Dopamine    80745
1167   30121      Nitroglycerine-k    79764
1166   30095           TF Residual    63562
1165   30077                 Nepro    62827
1164   30126      Morphine Sulfate    56874
1163   30125             Milrinone    56032
1162   30090          Tube Feeding    52468
1161   30114         Cisatracurium    41834
1160   30119         Epinephrine-k    41687
...      ...                   ...      ...
156    46802             Farr 5 IV        2
150    42538         cell saver/or        2
155    42489    farr 7 crystalloid        2
148    42608       Cisat mcg/kg/hr        2
149    42562  pos. dialysate intak        2
147    42648            VASOTEC IV        2
151    42534                c-scan        2
152    42492            farr 7 u/o        2
153    46803             Farr 5 po        2
154    40504               IV MEDS        2
10     45732                HD off        1
2      42679  1/2 H2O/impact fiber        1
3      46691          Rescue Flush        1
4      41706  irrig for bldr press        1
5      44527        dialysate 2.5%        1
6      44777         procedure EBL        1
7      45486                  Hemo        1
8      43092             INTAKE ED        1
9      44873        plasmapharesis        1
1      44000              floor in        1
11     44141                   ogt        1
12     42109     REPLACEMENT FLUID        1
13     44924   3/4str impact w/fib        1
14     44480          er intake iv        1
15     44033            adjustment        1
16     42955            PLASMAKYTE        1
17     43845           ascites fld        1
18     46400             fld bolus        1
19     44423  Totals from midnight        1
0      42704              corlopam        1

[1190 rows x 3 columns]